*,
*:before,
*:after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0;
  margin: 0;
}
html,
body {
  min-width: 320px;
  font-family: 'Noto Sans', 'Calibri', sans-serif;
  font-weight: 400;
}
.line {
  border-top: 1px solid #eaeff5;
}
.section {
  padding-top: 40px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .section--pb-100 {
    padding-bottom: 100px;
  }
  .section--pt-70 {
    padding-top: 70px;
  }
  .section--pb-70 {
    padding-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .section--m-pb-0 {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 60px;
  }
  .section--pb-90 {
    padding-bottom: 90px;
  }
}
.heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: -0.6px;
}
@media (min-width: 1200px) {
  .heading {
    margin-bottom: 45px;
    font-size: 38px;
    line-height: 48px;
  }
}
.heading--smaller-margin {
  margin-bottom: 20px;
}
.heading--number:before {
  position: absolute;
  left: -13px;
  top: -40px;
  content: "0";
  display: block;
  width: 26px;
  height: 26px;
  padding-top: 4px;
  padding-left: 8px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 13px;
  background-color: #ffc80a;
}
@media (min-width: 1200px) {
  .heading--number:before {
    left: -32px;
    top: -30px;
  }
}
.heading--number-1:before {
  content: "1";
}
.heading--number-2:before {
  content: "2";
}
.subtitle-text {
  margin-bottom: 50px;
  color: #777777;
  font-size: 14px;
  line-height: 28px;
}
.button {
  display: inline-block;
  padding-top: 12px;
  padding-right: 44px;
  padding-bottom: 14px;
  padding-left: 44px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #252525;
  border-radius: 22px;
  cursor: pointer;
}
.button:hover,
.button:active,
.button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #e27c2a;
}
.button--orange {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffc80a;
}
.button--orange:hover,
.button--orange:active,
.button--orange:focus {
  text-decoration: none;
  background-color: #e27c2a;
}
.logo {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .logo {
    padding-top: 40px;
  }
}
.logo__name {
  color: #000000;
  font-size: 33px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__name {
    font-size: 38px;
    letter-spacing: 7px;
  }
}
.logo__slogan {
  color: #a1bbd9;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo__slogan {
    font-size: 16px;
    letter-spacing: 9px;
  }
}
.container--mobile {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .container--mobile {
    padding-left: 15px;
    padding-right: 15px;
    width: 970px;
  }
}
@media (min-width: 1170px) {
  .container--mobile {
    width: 1170px;
  }
}
.nav__toggle {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #38383a;
  cursor: pointer;
}
.nav__toggle:before {
  position: absolute;
  top: 20px;
  right: 15px;
  content: "";
  width: 25px;
  height: 20px;
  background: url(../img/icon/navigation-icon.png);
}
@media (min-width: 992px) {
  .nav__toggle {
    display: none;
  }
}
.nav__toggle--active {
  background-color: #16385F;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #333;
  box-shadow: 0px 5px 10px 0px #2a496d;
}
@media (min-width: 992px) {
  .nav {
    position: relative;
  }
}
.nav ul {
  display: none;
}
.nav ul li:last-child a {
  border-bottom: none;
}
@media (min-width: 992px) {
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
}
.nav a {
  display: block;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #35577d;
  border-bottom: 2px solid #456990;
}
.nav a:hover {
  color: #ffc80a;
}
@media (min-width: 992px) {
  .nav a {
    padding-left: 0;
    background: transparent;
    border-bottom: none;
  }
}
.slider {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #295489;
  background-image: url("../img/bg/slider-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 25px 0px #688ab3;
}
.slider__title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
@media (min-width: 992px) {
  .slider__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.slider__slogan {
  font-family: 'Noto Serif', 'Georgia', serif;
  color: #cddfe0;
  font-size: 18px;
  line-height: 28px;
}
@media (min-width: 992px) {
  .slider__slogan {
    font-size: 22px;
    line-height: 32px;
  }
}
.owl-carousel .owl-nav button[class*="owl-"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 72px;
  height: 72px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .owl-carousel .owl-nav button[class*="owl-"] {
    display: block;
  }
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  background-image: url(../img/icon/arrow-left.png);
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
  background-image: url(../img/icon/arrow-right.png);
}
.owl-theme .owl-dots {
  position: absolute;
  bottom: -60px;
  width: 100%;
  text-align: center;
}
@media (min-width: 1200px) {
  .owl-theme .owl-dots {
    display: none;
  }
}
.owl-theme .owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #abbace;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.benefits {
  padding-bottom: 25px;
}
.benefits:last-child {
  padding-bottom: 0;
}
.benefits:nth-last-child(2) {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .benefits {
    padding-bottom: 50px;
  }
  .benefits:nth-last-child(2) {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}
.benefits__img {
  display: flex;
  height: 113px;
  align-items: center;
  justify-content: center;
}
.benefits__title {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .benefits__title {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 28px;
  }
}
.benefits__text {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
.service-description__img--xs-mb-20 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .service-description__img--xs-mb-20 {
    margin-bottom: 0;
  }
}
.service-description__content {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
.service-description__content p {
  margin-top: 0;
  margin-bottom: 22px;
}
.service-description__button-arrow {
  display: block;
  width: 40px;
  height: 40px;
}
.package {
  padding-top: 30px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  color: #242526;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.5);
}
.package.last {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .package {
    margin-bottom: 0;
  }
}
.package__type {
  margin-bottom: 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.package__price {
  margin-bottom: 5px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}
.package__price:after {
  content: "c";
  font-family: 'als_rublregular';
}
.package__period {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 30px;
}
.package__benefits {
  margin-bottom: 55px;
}
.package__benefits li {
  margin-bottom: 10px;
  font-size: 14px;
}
.package__benefits li:before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../img/icon/ok-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer {
  background-color: #252525;
}
.footer__title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.footer ul {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  color: #fff;
}
.footer ul li {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
}
.footer ul li a {
  color: #6c6c6c;
}
.footer ul li a:hover,
.footer ul li a:active,
.footer ul li a:focus {
  color: #e27c2a;
  text-decoration: none;
}
